body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  flex-direction: row;
  font-family: "Courier New", Courier;
  overflow: hidden;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.9;
  z-index: -1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content .avatar {
  margin-right: 15px;
}

.title {
  font-size: 20px;
  color: #fff;
}

.content .links {
  width: 70%;
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}

.content .links .button {
  background-color: #1a1a1a;
  text-decoration: none;
  color: #eee;
  padding: 18px 16px;
  text-transform: lowercase;
  font-weight: 250;
  font-size: 0.78em;
  border-radius: 2px;
  opacity: 0.6;
  transition: opacity 200ms;
}
.content .links .button:nth-child(even) {
  margin: 0 10px;
}

.content .links .button:hover {
  opacity: 1;
  color: #ff0000;
}
.title {
  text-transform: lowercase;
}

.type-animation {
  text-transform: lowercase;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
